h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-top: 100px;
  font-size: 75px;
  color: #35A29F;
}

.login {
  padding-left: 730px;
}

.top {

}

p {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  color: #35A29F;
}

.mountain {
  text-align: center;
}

.cloud {
  padding-left: 1100px;
  top: 300px;
}

.topcloud {
  padding-left: 400px;
}

.skill-row {
  width: 50%;
  margin: 100px auto; 100px auto;
  text-align: left;
}

.skill-img {
  width: 25%;
  padding-bottom: 20px;
  color: #35A29F;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

h4 {
font-family: "Montserrat-Black", sans-serif;
  font-size: 150%
}

h3 {
font-family: "Montserrat-Bold" sans-serif;
}

.mountain {
  padding-top: 140px;
}

.top-container {
  background-color: #E4F9F5;
}

.eagle {
  width: 45px;
}

.hyper {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
}

h5 {
  color: #8f8f8f;
}

.icon {
  margin-bottom: 1rem;
  color: #35A29F;
}

.icon:hover {
  color: #E4F9F5;
}

.butn {
  text-align: center;
  padding-bottom: 30px;
  top: auto;
  padding-top: 50px;
}

.btnn {
  padding-right: 5px;
}

.skill-img:hover {
  color: #E4F9F5;
}

.midg {
}
